In [1]:
import pandas as pd
import numpy as np


seq_dir='./surveys/Test_forward_inversions/sequences/test_seq.txt'

seqs=pd.read_csv(seq_dir,header=13, delimiter='\t',index_col=0)
#seqs=np.array(seqs)
seqs

      A   B   M   N
#
1     1   2   3   4
2     1   2   4   5
3     1   2   5   6
4     1   2   6   7
5     1   2   7   8
..   ..  ..  ..  ..
340  12  11   6   5
341  12  11   5   8
342  12  11   8   7
343  12  11   7  10
344  12  11  10   9

[344 rows x 4 columns]

In [5]:
seq_dir='./surveys/Test_forward_inversions/sequences/test_seq.txt'

heads=pd.read_csv(seq_dir,header=None,nrows=13, sep='\t')

In [6]:
heads.columns = heads.iloc[0]
heads=heads.drop(0)
heads=heads.drop(columns='#')

In [7]:
heads

0      X     Y      Z
1   1.00  0.00  -5.92
2   4.00  0.00  -5.92
3   1.00  0.00  -4.92
4   4.00  0.00  -4.92
5   1.00  0.00  -3.92
6   4.00  0.00  -3.92
7   1.00  0.00  -2.92
8   4.00  0.00  -2.92
9   1.00  0.00  -1.92
10  4.00  0.00  -1.92
11  1.00  0.00  -0.92
12  4.00  0.00  -0.92